<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goldbookapp">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.activity.sales.PrintWebViewActivity"
            android:exported="false"></activity>

        <activity android:name=".QRCodeScannerActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.EditItemCategory"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.OnboardingActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.auth.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.auth.SignupActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.customer.CustomerDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.VerifyPhoneActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.QuickSetupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"></activity>
        <activity
            android:name=".ui.activity.auth.AlmostThereActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.auth.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.TermsOfServiceActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.auth.RecoverAccountActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.BackToLoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.UpdateContactActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.VerifyPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.EditProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.customer.CustSuppAddressDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.customer.NewCustomerActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.sales.SalesBillDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.QrCodeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.sales.NewInvoiceActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.purchase.NewPurchaseActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.purchase.PurchaseBillDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.additem.AddItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.additem.AddItemChargesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.additem.LessWeightDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />
        <activity
            android:name=".ui.activity.additem.SimpleLessWeightActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.additem.AddLessWeightActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.sales.AddSalesLineActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.sales.AddCashBankActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.TaxAnalysisDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.AddTaxAnalysisActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.openingstock.OpeningStockDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.openingstock.NewOpeningStockActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.customer.EditCustomerActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.supplier.NewSupplierActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.supplier.SupplierDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.supplier.EditSupplierActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.item.NewItemActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.item.AccountingInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.item.InventoryInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            />
        <activity
            android:name=".ui.activity.item.ItemDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.payment.NewPaymentActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.receipt.NewReceiptActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.PrivacySecurityActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.payment.PaymentDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.organization.OrganizationListActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.organization.OrganizationDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.organization.NewOrganizationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.organization.CompanyAddressDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.organization.EditOrganizationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.BranchListActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.branch.BranchDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.branch.EditBranchActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.branch.NewCompanyBranch"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.ItemCategoriesList"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.ItemCategoryDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.NewItemCategory"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.activity.receipt.ReceiptDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.report.ReportTypesCommon"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.user.UpdateContactVerifyOTP"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.AccessDeniedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.AboutUsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.SubscriptionActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".inapplock.PinActivity"
            android:exported="false"/>
        <activity android:name=".inapplock.PinCompatActivity"
            android:exported="false"/> <!-- <activity android:name="com.goldbookapp.ui.activity.AppLockActivity" /> -->
        <activity android:name=".inapplock.PinFragmentActivity"
            android:exported="false"/> <!-- <activity android:name=".ui.CustomPin" /> -->
        <activity
            android:name=".ui.activity.settings.AppLockActivityNew"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.PreferencesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.TaxesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.TCSActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.TCSNatureActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.GSTActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.ContactsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.ItemInventoryActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.AddMetalColoursActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.ledger.NewLedgerActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.ledger.NewChequeBookActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.ledger.ChequeRegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.ledger.EditLedgerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ledger.LedgerDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.group.EditLedgerGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.group.NewGroupActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.group.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.group.ParentGroupDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.group.EditSubGroupActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.MetalColoursListActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.MetalColoursDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.EditMetalColourActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.settings.ManageAppLockActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.customer.CustSuppTcsTdsMgmtActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".permissions.PermissionsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <service android:name=".ui.activity.PrintJobMonitorService"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.goldbookapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>